/* Add styles here */

/* importar bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';


.photo {
    max-width: 300px;
}

.nav-bar{
    background-color: #33a5ff;
}

h1 {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 800;
}
p {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 500;

}