/* Add styles here */

/* importar bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';


.photo {
    max-width: 300px;
}

 


.img {
    height: 400px;
    width: 600px;
    padding: 50px;
    margin: 50px;
}

