/* Add styles here */
@import "../node_modules/bootstrap/scss/functions";


.photo {
    max-width: 300px;
    border-radius: 70px;
    border: solid black 2px;
}

.image{
    max-width: 300px;
}

.carousel-inner img {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* Ajusta este valor según lo que necesites */
    object-fit: contain;
    margin: 0 auto;
    display: block;
  }
  

nav.nav-bar{
    background-color: rgb(219, 43, 210);
    font-size: 20px;
    margin-bottom: 50px;
}

nav.nav-bar a{
    color: black;
}

nav {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 200;   
}

h1 {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 800;
    padding: 20px;
    }
    
h2{
    font-family: "Tenor Sans", sans-serif;
    font-weight: 300;
    margin: 50px;
}

h3{
    font-family: "Tenor Sans", sans-serif;
    font-weight: 100;

}
p {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 500;
}

li{
margin: 15px;
list-style: none;

}

 body.bg-pink {
    background-color: lightpink;
} 

#carouselExampleDark { 
    max-width: 50vw;
    margin: auto;
}

#carouselExampleDark2 { 
    max-width: 50vw;
    margin: auto;
 }
 #carouselExampleDark3 { 
    max-width: 50vw;
    margin: auto;
 }

 .src {
    max-width: 300px;
    }    
    
